<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{person.information.first_name}} {{person.information.last_name}}</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="{{ person.information.first_name }}{{ person.information.last_name }}">
	<!-- <link rel="shortcut icon" href="favicon.ico"> -->

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

	<!-- FontAwesome JS-->
	<script defer src="{{ url_for('static',filename='fontawesome/js/all.min.js')}}"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/devresume.css')}}">

</head>

<body>

	<div class="main-wrapper">
		<div class="container px-3 px-lg-5">
			<article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

				<div class="resume-header">
					<div class="row align-items-center">
						<div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
							<h2 class="resume-name mb-0 text-uppercase">
								{{ person.information.first_name }} {{ person.information.last_name }}</h2>
							<div class="resume-tagline mb-3 mb-md-0">{{ person.information.identity }}</div>
						</div>
						<!--//resume-title-->
						<div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
							<ul class="list-unstyled mb-0">
								<li class="mb-2"><i class="fas fa-phone-square fa-fw fa-lg mr-2 "></i><a
										class="resume-link" href="tel:#">Tel: {{ person.information.phone }}</a></li>
								<li class="mb-2"><i class="fas fa-envelope-square fa-fw fa-lg mr-2"></i><a
										class="resume-link" href="mailto:#">Email: {{ person.information.mail }}</a>
								</li>
								<!-- <li class="mb-2"><i class="fas fa-globe fa-fw fa-lg mr-2"></i><a class="resume-link"
										href="{{ person.information.github }}">Git:
										{{ person.information.github }}</a></li> -->
								<li class="mb-0"><i class="fas fa-map-marker-alt fa-fw fa-lg mr-2"></i>Ville:
									{{ person.information.city }}
								</li>
							</ul>
						</div>
						<!--//resume-contact-->
					</div>
					<!--//row-->

				</div>
				<!--//resume-header-->
				<hr>
				<div class="resume-intro py-3">
					<div class="media flex-column flex-md-row align-items-center">
						<img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto"
							src="{{ url_for('static',filename='images/profile.jpg') }} " alt="image">
						<div class="media-body text-left">
							{% for resume in person.information.resumes %}
							<p class="mb-0"> {{ resume.p }}</p>
							<br />
							{% endfor %}
						</div>
						<!--//media-body-->
					</div>
				</div>
				<!--//resume-intro-->
				<hr>
				<div class="resume-body">
					<div class="row">
						<div class="resume-main col-12 col-lg-8 col-xl-9 pr-0 pr-lg-5">
							<section class="work-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Formations</h3>

								{% for formation in person.formations%}
								<!--//item-->
								<div class="item mb-3">
									<div class="item-heading row align-items-center mb-2">
										<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
											{{ formation.school }}</h4>
										<div
											class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
											{{ formation.year }}</div>

									</div>


									<div class="item-content">
										<p>{{ formation.identity }}</p>
									</div>
								</div>
								{% endfor %}

								<!--//work-section-->


								<section class="project-section py-3">
									<h3 class="text-uppercase resume-section-heading mb-4">Projets</h3>


									{% for project in person.projects %}
									<!--//item-->
									<div class="item">
										<div class="item-heading row align-items-center mb-2">
											<h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
												{{ project.name }}
											</h4>
											<div
												class="item-meta col-12 col-md-6 col-lg-4 text-muted text-left text-md-right">
												{{ project.status }}</div>

										</div>
										<div class="item-content">
											{% for des in project.description%}
											<p>{{ des.p }}</p>
											{% endfor %}

										</div>
									</div>
									{% endfor %}
									<!--//item-->
								</section>
								<!--//project-section-->
						</div>
						<!--//resume-main-->
						<aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Compétences</h3>
								<div class="item">
									<h4 class="item-title">Technique</h4>
									<ul class="list-unstyled resume-skills-list">
										{% for sk in person.skills.technique %}
										<li class="mb-2">{{ sk.skill }}</li>
										{% endfor %}
									</ul>
								</div>
								<!--//item-->
								<div class="item">
									<h4 class="item-title">Professionel</h4>
									<ul class="list-unstyled resume-skills-list">
										{% for sk in person.skills.professionel %}
										<li class="mb-2">{{ sk.skill }}</li>
										{% endfor %}
									</ul>
									</ul>
								</div>
								<!--//item-->
							</section>
							<!--//skills-section-->
							<!-- <section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
								<ul class="list-unstyled resume-education-list">
									{% for education in person.educations %}
									<li class="mb-3">
										<div class="resume-degree font-weight-bold">{{ education.formation }}</div>
										<div class="resume-degree-org text-muted">{{ education.school }}</div>
										<div class="resume-degree-time text-muted">{{ education.year }}</div>
									</li>
									{% endfor %}

								</ul>
							</section> -->
							<!--//education-section-->
							<!-- <section class="education-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
								<ul class="list-unstyled resume-awards-list">
									<li class="mb-3">
										<div class="font-weight-bold">Award Lorem Ipsum</div>
										<div class="text-muted">Microsoft lorem ipsum (2019)</div>
									</li>
									<li>
										<div class="font-weight-bold">Award Donec Sodales</div>
										<div class="text-muted">Oracle Aenean (2017)</div>
									</li>
								</ul>
							</section> -->
							<!--//education-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Langages</h3>
								<ul class="list-unstyled resume-lang-list">
									{% for langue in person.languages %}
									<li class="mb-2">{{langue.langue}} <span
											class="text-muted">({{ langue.level }})</span></li>
									{% endfor %}
								</ul>
							</section>
							<!--//certificates-section-->
							<section class="skills-section py-3">
								<h3 class="text-uppercase resume-section-heading mb-4">Intérêts</h3>
								<ul class="list-unstyled resume-interests-list mb-0">
									{% for int in person.interests  %}
									<li class="mb-2">{{ int.interet }}</li>
									{% endfor %}
								</ul>
							</section>
							<!--//certificates-section-->

						</aside>
						<!--//resume-aside-->
					</div>
					<!--//row-->
				</div>
				<!--//resume-body-->
				<hr>
				<div class="resume-footer text-center">
					<ul class="resume-social-list list-inline mx-auto mb-0 d-inline-block text-muted">
						<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
								href="https://{{ person.liens.github }}"><i class="fab fa-github-square fa-2x mr-2"
									data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">{{ person.liens.github }}</span></a>
						</li>
						<li class="list-inline-item mb-lg-0 mr-3"><a class="resume-link"
								href="https://{{ person.liens.linkedin }}"><i class="fab fa-linkedin fa-2x mr-2"
									data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">{{ person.liens.linkedin }}</span></a>
						</li>
						<li class="list-inline-item mb-lg-0 mr-lg-3"><a class="resume-link"
								href="https://{{ person.liens.instagram }}"><i class="fab fa-instagram fa-2x mr-2"
									data-fa-transform="down-4"></i><span
									class="d-none d-lg-inline-block text-muted">{{ person.liens.instagram }}</span></a>
						</li>
					</ul>
				</div>
				<!--//resume-footer-->
			</article>

		</div>
		<!--//container-->



	</div>
	<!--//main-wrapper-->


</body>

</html>